body {
    display: grid;
    justify-items: center;
}

.container {
    width: 80%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
    margin-top: 2rem;
    justify-items: center;
}

.card {
    padding: 20px;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    place-items: center;
    background: #ffc;
    gap: 16px;
    box-shadow: 3px 5px 3px 3px grey;

}

.newBook {
    width: 80%;
    display: flex;
    gap: .5rem;
    justify-content: center;
}

.formContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.formInput {
    display: flex;
    flex: 1;
    margin-left: .5rem;
}

.formContainer input[type="text"] {
    margin-left: 5px;
}

.cardBtnContainer {
    grid-row: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem
}

.cardContent {
    grid-row: 2;
    /* text-align: left; */
}

.header {
    margin: 1rem;
    font-size: 40px;
    font-weight: bolder;
}
